#svg_pie_admin1 {
	width: 100%;
	/*height: 100%;*/
}

#d3pie_admin1 {
  height: 310px;
  margin: 0 auto;
  position: relative;
  display: block;
  width: 500px;
}
/*
.legendadmin1 {
  font-size: 11px;
}
*/
.tooltipadmin1 {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 15px;
  left: 130px;
  padding: 0.5em;
  position: absolute;
  text-align: left;
  top: 95px;
  z-index: 10;
}
